body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #1DB954;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #1DB954;
}

button {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1ed760;
}

.playlist-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #282828;
    border-radius: 5px;
}

.playlist-details h2 {
    color: #1DB954;
}

.track {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.track:last-child {
    border-bottom: none;
}

.track-title {
    color: #ffffff;
}

.track-artist {
    color: #b3b3b3;
}